<nav>
  <div class="container">
    <h5 class="brand">Daniel Duarte</h5>
    <ul class="nav-list">
      <li>
        <a routerLink="/" class="link">Work</a>
      </li>
      <li>
        <a routerLink="contact" class="link">Contact</a>
      </li>
      <li>
        <a routerLink="skills" class="link">Skills</a>
      </li>
      <li>
        <a href="https://github.com/TheDanielDuarte" class="link">Github</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/daniel-alejandro-duarte" class="link">LinkedIn</a>
      </li>
    </ul>
  </div>
</nav>