<nav>
  <div class="container">
    <h5 class="brand">Brand Logo</h5>
    <ul class="nav-list">
      <li>
        <span class="link"><img src="" alt="" class="img-fluid"></span>
      </li>
      <li>
        <a routerLink="" class="link">Home</a>
      </li>
      <li>
        <a routerLink="" class="link">Contact</a>
      </li>
      <li>
        <a routerLink="" class="link">Skills</a>
      </li>
      <li>
        <a href="https://github.com/TheDanielDuarte" class="link">Github</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/daniel-alejandro-duarte" class="link">LinkedIn</a>
      </li>
      <li>
        <a href="" class="link">Resume</a>
      </li>
    </ul>
  </div>
</nav>