:host {
  background-color: #4c2da2;
  z-index: 200;
  display: block;
  margin-bottom: 1.3em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline-block;
  &::after {
    display: inline-block;
    border-radius: 1px;
    content: "";
    height: 4px;
    width: 4px;
    margin-bottom: 0.3rem;
    background-color: #6e46e1;
  }

  &:last-of-type::after, &:first-of-type::after {
    display: none; 
  }
}

.link {
  color: #F5F4F9;
  text-transform: uppercase;
  padding: 1rem 0.8rem;
  margin: 1rem;
  font-size: 1rem;
  font-variant: all-petite-caps;
  font-weight: 700;
  display: inherit;
  transition: color 0.3s;
  &:hover {
    color: #ffc701;
    text-decoration: none;
  }
}