@import '../../colors';

:host {
  background-color: $navbar-background;
  z-index: 200;
  display: block;
  margin-bottom: 1.3em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline-block;
  &::after {
    display: inline-block;
    border-radius: 1px;
    content: "";
    height: 4px;
    width: 4px;
    margin-bottom: 0.3rem;
    background-color: #6e46e1;
  }

  &:last-of-type::after {
    display: none; 
  }
}

.link {
  text-transform: uppercase;
  font-variant: all-petite-caps;
}