<nav>
  <div class="container">
    <button class="hamburger hamburger--emphatic-r" type="button" #hamburgerButton (click)="onToggleMenu(hamburgerButton)" >
      <span class="hamburger-box">
        <span class="hamburger-inner" id="hamburger" ></span>
      </span>
    </button>
    <h5 class="brand">Daniel Duarte</h5>
    <ul class="nav-list">
      <li>
        <a class="link" routerLink="projects" routerLinkActive="active" >Work</a>
      </li>
      <li>
        <a class="link" routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
      </li>
      <li>
        <a class="link" routerLink="skills" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Skills</a>
      </li>
      <li>
        <a class="link" href="https://github.com/TheDanielDuarte" target="_blank">Github</a>
      </li>
    </ul>
  </div>

  <section class="mobile-menu" *ngIf="showResponsiveMenu">
    <ul [@staggerLinks]>
      <li>
        <a class="link" routerLink="projects" routerLinkActive="active">Work</a>
      </li>
      <li>
        <a class="link" routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
      </li>
      <li>
        <a class="link" routerLink="skills" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Skills</a>
      </li>
    </ul>
  </section>
</nav>