@import '../../colors';
@import '../../utils';

:host {
  text-align: center;
}

.error-code, .text h4, .text a {
  font-weight: 700;
}

.error-code {
  font-size: 20rem;

  @media(max-width: 768px) {
    font-size: 10rem;
  }

  @media(max-width: 326px) {
    font-size: 8rem;
  }
}

.text a {
  color: $yellow;
  text-decoration: underline;
  text-decoration-color: $yellow;
}

@media(max-width: 375px) {
  .text {
    h4 { font-size: 1.3rem; }
    p { font-size: 1rem; }
  }
}