/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/images";
@import '~bootstrap/scss/utilities/text';
@import '~bootstrap/scss/utilities/borders';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/button-group';
@import 'app/colors';
@import 'app/utils';

body {
  background-color: $page-background;
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow-x: hidden;
}

ul {
  display: block;
  list-style-type: disc;
}

.link {
  color: $links;
  padding: 1rem 0.8rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 700;
  display: inherit;
  transition: color 0.3s;
  cursor: default;

  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}

a.link {
  cursor: pointer;
}

.page-title {
  padding-bottom: 0.1rem;
  margin: 2em 0 1.6em 0;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: $yellow;
  display: inline-block;

  h4 {
    text-transform: uppercase;
    font-size: 2.1rem;
  }
}

.typed-cursor{
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink{
  50% { opacity: 0.0; }
}